{% extends "Blog/index.html" %}
{% load static %}

{% block title %}<title>تغییر رمز عبور</title>{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'Blog/css/user_forms.css' %}">{% endblock %}


{% block contact %}

<div class="box-signup ">
    <p class="d-flex justify-content-start">تغییر رمز عبور</p>
    
    {% for message in messages %}
        <p class="message" >{{message}}</p>
    {% endfor %}

    <form method="POST">
        
        {% csrf_token %}
        
        <label>رمز عبور کنونی:</label>
        <div class="input-icons">
            <i class="fas fa-key icon"></i>
            {{ form.old_password}}
        </div>

        <label>رمز عبور جدید:</label>
        <div class="input-icons">
            <i class="fas fa-key icon"></i>
            {{ form.new_password1}}
        </div>
        
        
        <label> تائید رمز عبور:</label>
        <div class="input-icons">
            <i class="fas fa-key icon"></i>
            {{ form.new_password2}}
        </div>
        

        <button class="submit-btn" type="submit">ثبت تغییرات</button>
      </form>

</div>



<script>
    let form_fields = document.getElementsByTagName('input');


    for(var field in form_fields){
        form_fields[field].className += 'input-field'
    }
    
</script>

{% endblock %}





